<nav class="navbar navbar-default navbar-fixed-top wj-theme">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 hidden-xs">
                <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station"
                    class="navbar-link wj-navbar-back pull-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand"
                    href="#!/user/{{model.userId}}/location/{{model.locationId}}/station">
                    Stations
                </a>
                <p class="navbar-text pull-right">
                    <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station/new"
                        class="navbar-link">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                    </a>
                </p>
            </div>
            <div class="col-sm-8 col-xs-12">
                <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station"
                    class="navbar-link wj-navbar-back pull-left visible-xs">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <p class="navbar-text pull-left">Edit Station</p>
                <p class="navbar-text pull-right">
                    <a ng-click="model.updateStation()"
                        class="navbar-link">
                        <span class="glyphicon glyphicon-ok ">
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 hidden-xs">
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-5 col-md-7 col-sm-10 col-xs-10">
                            Weather Station Name
                        </div>
                        <div class="col-lg-3 visible-lg">
                            Coordinate
                        </div>
                        <div class="col-md-3 hidden-sm hidden-xs" >
                            Elevation
                        </div>
                        <div class="col-xs-1">
                            <a href="">
                            </a>
                        </div>
                    </div>
                </li>
                <li ng-repeat="station in model.stations"
                    class="list-group-item">
                    <div class="row">
                        <div class="col-lg-5 col-md-7 col-sm-10 col-xs-10">
                            <a href="#!/user/{{model.userId}}/location/{{location._id}}/station/{{station._id}}/journal/{{journal._id}}">
                                {{station.stationName}}
                            </a>
                        </div>
                        <div class="col-lg-3 visible-lg">
                            <b>{{station.coordinate}}</b>
                        </div>
                        <div class="col-md-3 hidden-sm hidden-xs" >
                            <b>{{station.elevation}}</b>
                        </div>
                        <div class="col-xs-1">
                            <a href="#!/user/{{model.userId}}/location/{{location._id}}/station/{{station._id}}">
                                <span class="glyphicon glyphicon-pencil pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">
            <label for="station">Station</label>
            <input id="station"
                ng-model="model.station.stationName"
                placeholder="SDTEC"
                class="form-control"/>
            <label for="coordinate">Coordinate</label>
            <input id="coordinate"
                ng-model="model.station.coordinate"
                placeholder="Lat: 33.57453°N Lon: 117.12804°W"
                class="form-control"/>
            <label for="elevation">Elevation</label>
            <input id="elevation"
                ng-model="model.station.elevation"
                placeholder="1190ft."
                class="form-control"/>
            <a ng-click="model.deleteStation()"
                class="btn btn-block btn-primary">
                Delete
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="section group wj-footer-vertical-center">
            <div class="col span_1_of_6">
                <a href="../home.html">
                    <span
                        class="glyphicon glyphicon-home wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="../location/location-list.html">
                    <span
                        class="glyphicon glyphicon-globe wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="../station/station-list.html">
                    <span
                        class="glyphicon glyphicon-cloud wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="../journal/journal-list.html">
                    <span
                        class="glyphicon glyphicon-book wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="../history/history-list.html">
                    <span
                        class="glyphicon glyphicon-list-alt wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="../analytic/analytic-list.html">
                    <span
                        class="glyphicon glyphicon-stats wj-theme">
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>
