<nav class="navbar navbar-default navbar-fixed-top wj-padding-left-15px wj-theme">
    <div class="container-fluid">
        <div class="navbar-header wj-navbar-header">
            <div class="">
                <a href="#!/" class="navbar-link wj-navbar-back pull-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand" href="#!/">
                    Analytics
                </a>
                <p class="navbar-text pull-right">
                    <a href="#!/" class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div>
        <!-- Tab pills -->
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation"
                class="active">
                <a href=""
                    aria-controls="hotSpells"
                    role="tab" data-toggle="tab">
                    Hot Spell
                </a>
            </li>
            <li role="presentation">
                <a href=""
                    aria-controls="coldSpells"
                    role="tab"
                    data-toggle="tab">
                    Cold Spell
                </a>
            </li>
            <li role="presentation">
                <a href=""
                    aria-controls="wetSpells"
                    role="tab"
                    data-toggle="tab">
                    Wet Spell
                </a>
            </li>
        </ul>
        <!-- Tab pill panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="hotSpells"></div>
            <div role="tabpanel" class="tab-pane" id="coldSpells"></div>
            <div role="tabpanel" class="tab-pane" id="wetSpells"></div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="">
        <ul class="list-group">
            <li ng-repeat="analytic in model.analytics"
                class="list-group-item">
                <div class="row">
                    <div class="">
                        At or above: <b>{{analytic.atOrAbove}}</b>
                    </div>
                    <div class="" >
                        Duration: <b>{{analytic.duration}}</b>
                    </div>
                    <div class="" >
                        Span: <b>{{analytic.span}}</b>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="container-fluid">
    <div class="month">
        <ul>
            August 2017
        </ul>
    </div>

    <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
    </ul>

    <ul class="days">
        <li></li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li><span class="hotspell">10</span></li>
        <li><span class="hotspell">11</span></li>
        <li><span class="hotspell">12</span></li>
        <li><span class="hotspell">13</span></li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li>17</li>
        <li><span class="hotspell">18</span></li>
        <li><span class="hotspell">19</span></li>
        <li>20</li>
        <li>21</li>
        <li><span class="hotspell">22</span></li>
        <li><span class="hotspell">23</span></li>
        <li><span class="hotspell">24</span></li>
        <li><span class="hotspell">25</span></li>
        <li>26</li>
        <li>27</li>
        <li>28</li>
        <li>29</li>
        <li>30</li>
        <li>31</li>
    </ul>
</div>

<div class="container-fluid">
    <div class="month">
        <ul>
            September 2017
        </ul>
    </div>

    <ul class="weekdays">
        <li>Mo</li>
        <li>Tu</li>
        <li>We</li>
        <li>Th</li>
        <li>Fr</li>
        <li>Sa</li>
        <li>Su</li>
    </ul>

    <ul class="days">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li><span class="hotspell">10</span></li>
        <li><span class="hotspell">11</span></li>
        <li><span class="hotspell">12</span></li>
        <li><span class="hotspell">13</span></li>
        <li>14</li>
        <li>15</li>
        <li>16</li>
        <li>17</li>
        <li><span class="hotspell">18</span></li>
        <li><span class="hotspell">19</span></li>
        <li>20</li>
        <li>21</li>
        <li><span class="hotspell">22</span></li>
        <li><span class="hotspell">23</span></li>
        <li><span class="hotspell">24</span></li>
        <li><span class="hotspell">25</span></li>
        <li>26</li>
        <li>27</li>
        <li>28</li>
        <li>29</li>
        <li>30</li>
        <li>31</li>
    </ul>
</div>

<div ng-include="'views/common/footer-all.view.client.html'"></div>
