<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="section group wj-footer-vertical-center">
            <div class="col span_1_of_6">
                <a href="#!/">
                    <span
                        class="glyphicon glyphicon-home wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="#!/user/{{model.userId}}/location">
                    <span
                        class="glyphicon glyphicon-globe wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station">
                    <span
                        class="glyphicon glyphicon-cloud wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station/{{model.stationId}}/journal">
                    <span
                        class="glyphicon glyphicon-book wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station/{{model.stationId}}/history">
                    <span
                        class="glyphicon glyphicon-list-alt wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station/{{model.stationId}}/analytic">
                    <span
                        class="glyphicon glyphicon-stats wj-theme">
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>
