<nav class="navbar navbar-default navbar-fixed-top wj-padding-left-15px wj-theme">
    <div class="container-fluid">
        <div class="navbar-header wj-navbar-header">
            <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station"
                class="navbar-link pull-left wj-navbar-back">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station"
                class="navbar-brand">
                Journals
            </a>
            <p class="navbar-text pull-right">
                <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station/{{model.stationId}}/journal/new"
                    class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-10">
                    Journal Time Stamp
                </div>
                <div class="col-lg-3 visible-lg">
                    Journal Topic
                </div>
                <div class="col-md-3 hidden-sm hidden-xs" >
                    Journal Entry
                </div>
                <div class="col-xs-1">
                    <a href="">
                    </a>
                </div>
            </div>
        </li>
        <li ng-repeat="journal in model.journals"
            class="list-group-item">
            <div class="row">
                <div class="col-lg-5 col-md-8 col-sm-11 col-xs-10">
                    <b>{{journal.journalTimeStamp}}</b>
                </div>
                <div class="col-lg-3 visible-lg">
                    <b>{{journal.topic}}</b>
                </div>
                <div class="col-md-3 hidden-sm hidden-xs" >
                    <b>{{journal.entry}}</b>
                </div>
                <div class="col-xs-1">
                    <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station/{{model.stationId}}/journal/{{journal._id}}">
                        <span class="glyphicon glyphicon-pencil pull-right"></span>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>

<div ng-include="'views/common/footer-all.view.client.html'"></div>
