<nav class="navbar navbar-default navbar-fixed-top wj-theme">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 hidden-xs">
                <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station"
                    class="navbar-link wj-navbar-back pull-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand"
                    href="#!/user/{{model.userId}}/location/{{model.locationId}}/station">
                    Journals
                </a>
                <p class="navbar-text pull-right">
                    <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station/{{model.stationId}}/journal/new"
                        class="navbar-link">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                    </a>
                </p>
            </div>
            <div class="col-sm-8 col-xs-12">
                <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station/{{model.stationId}}/journal"
                    class="navbar-link wj-navbar-back pull-left visible-xs">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <p class="navbar-text pull-left">
                    New Journal
                </p>
                <p class="navbar-text pull-right">
                    <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station/{{model.stationId}}/journal"
                        class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 hidden-xs">
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-lg-5 col-md-7 col-sm-10 col-xs-10">
                            Journal Time Stamp
                        </div>
                        <div class ="col-lg-3 visible-lg">
                            Journal Topic
                        </div>
                        <div class = "col-md-3 hidden-sm hidden-xs" >
                            Journal Entry
                        </div>
                        <div class="col-xs-1">
                            <a href="">
                            </a>
                        </div>
                    </div>
                </li>
                <li ng-repeat="journal in model.journals"
                    class="list-group-item">
                    <div class="row">
                        <div class="col-lg-5 col-md-8 col-sm-11 col-xs-10">
                            <b>{{journal.journalTimeStamp}}</b>
                        </div>
                        <div class="col-lg-3 visible-lg">
                            <b>{{journal.topic}}</b>
                        </div>
                        <div class="col-md-3 hidden-sm hidden-xs" >
                            <b>{{journal.entry}}</b>
                        </div>
                        <div class="col-xs-1">
                            <a href="#!/user/{{model.userId}}/location/{{model.locationId}}/station/{{model.stationId}}/journal/{{model.journal._id}}">
                                <span class="glyphicon glyphicon-pencil pull-right"></span>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8">
            <label for="journalTimeStamp">Date</label>
            <input id="journalTimeStamp"
                ng-model="model.journal.journalTimeStamp"
                placeholder="07/13/2017 10:01am"
                class="form-control"/>
            <label for="topic">Topic</label>
            <input id="topic"
                ng-model="model.journal.topic"
                placeholder="Not as warm as predicted"
                class="form-control"/>
            <label for="entry">Entry</label>
            <textarea id="entry"
                ng-model="model.journal.entry"
                placeholder="Forecast was for 103, but it only made it to 98"
                rows="5"
                class="form-control">
            </textarea>
            <a ng-click="model.createJournal(model.journal)"
                class="btn btn-block btn-primary">
                    Create
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="section group wj-footer-vertical-center">
            <div class="col span_1_of_6">
                <a href="../home.html">
                    <span
                        class="glyphicon glyphicon-home wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="../location/location-list.html">
                    <span
                        class="glyphicon glyphicon-globe wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="../station/station-list.html">
                    <span
                        class="glyphicon glyphicon-cloud wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="../journal/journal-list.html">
                    <span
                        class="glyphicon glyphicon-book wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="../history/history-list.html">
                    <span
                        class="glyphicon glyphicon-list-alt wj-theme">
                    </span>
                </a>
            </div>
            <div class="col span_1_of_6">
                <a href="../analytic/analytic-list.html">
                    <span
                        class="glyphicon glyphicon-stats wj-theme">
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>
