<nav class="navbar navbar-default navbar-fixed-top wj-padding-left-15px wj-theme">
    <div class="container-fluid">
        <div class="navbar-header wj-navbar-header">
            <div class="">
                <a href="#!/" class="navbar-link wj-navbar-back pull-left">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="navbar-brand" href="#!/">
                    History
                </a>
                <p class="navbar-text pull-right">
                    <a href="#!/" class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div>
        <!-- Tab pills -->
        <ul class="nav nav-pills" role="tablist">
            <li role="presentation"
                class="active">
                <a href=""
                    aria-controls="thisDate"
                    role="tab"
                    data-toggle="tab">
                    This Date
                </a>
            </li>
            <li role="presentation">
                <a href=""
                    aria-controls="last30Days"
                    role="tab"
                    data-toggle="tab">
                    30 Days
                </a>
            </li>
            <li role="presentation">
                <a href=""
                    aria-controls="last60Days"
                    role="tab"
                    data-toggle="tab">
                    60 Days
                </a>
            </li>
        </ul>
        <!-- Tab pill panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="thisDate"></div>
            <div role="tabpanel" class="tab-pane" id="last30Days"></div>
            <div role="tabpanel" class="tab-pane" id="last60Days"></div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="">
        <ul class="list-group">
            <li ng-repeat="history in model.histories"
                class="list-group-item">
                <div class="row">
                    <div class="">
                        <b>{{history.historyDate}}</b>
                    </div>
                    <div class="">
                        High Temp: <b>{{history.highTemp}}</b>
                    </div>
                    <div class="" >
                        Low Temp: <b>{{history.lowTemp}}</b>
                    </div>
                    <div class="" >
                        Precipation: <b>{{history.precipation}}</b>
                    </div>
                    <div class="" >
                        High Wind: <b>{{history.highWind}}</b>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div ng-include="'views/common/footer-all.view.client.html'"></div>
