<nav class="navbar navbar-default navbar-fixed-top wj-padding-left-15px wj-theme">
    <div class="container-fluid">
        <div class="navbar-header wj-navbar-header">
            <a href="#!/" class="navbar-link pull-left wj-navbar-back">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="register.html">
                Register
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div ng-include="'views/common/bulletin.view.client.html'"></div>
    <label for="username">Username</label>
    <input type="text"
        ng-model="username"
        class="form-control"
        placeholder="username"/>
    <label for="password">Password</label>
    <input type="password"
        ng-model="password"
        class="form-control"
        placeholder="password"/>
    <label for="verifyPassword">Verify Password</label>
    <input type="password"
        ng-model="verifyPassword"
        class="form-control"
        placeholder="verify password"/>
    <label for="firstName">First Name</label>
    <input type="text"
        ng-model="firstName"
        class="form-control"
        placeholder="Anne"/>
    <label for="lastName">Last Name</label>
    <input type="text"
        ng-model="lastName"
        class="form-control"
        placeholder="Carlson"/>
    <label for="email">Email</label>
    <input type="email"
        ng-model="email"
        class="form-control"
        placeholder="anne.carlson@gmail.com"/>
    <a class="btn btn-primary btn-block"
        ng-click="model.register(username,password,verifyPassword,firstName,lastName,email)">Register</a>
    <a class="btn btn-primary btn-block"
        href="#!/login">Cancel</a>
</div>

<div ng-include="'views/common/footer-home.view.client.html'"></div>
