<nav class="navbar navbar-default navbar-fixed-top wj-padding-left-15px wj-theme">
    <div class="container-fluid">
        <div class="navbar-header wj-navbar-header">
            <a href="#!/" class="navbar-link pull-left wj-navbar-back">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand" href="#!/user/{{model.userId}}">
                Settings
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateUser(model.userId,model.user)"
                    class="navbar-link">
                    <span class="glyphicon glyphicon-ok ">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <label for="defaultLocation">Default Location</label>
    <select ng-model="model.user.defaultLocation"
        class="form-control">
        <option>El Paso</option>
        <option>Temecula</option>
    </select>
    <label for="defaultStation">Default Station</label>
    <select ng-model="model.user.defaultStation"
        class="form-control">
        <option>KF70</option>
        <option>SDTEC</option>
    </select>
    <label for="startDate">Start Date</label>
    <select ng-model="model.user.startDate"
        class="form-control">
        <option>Current Date minus 1</option>
        <option>Current Date minus 2</option>
    </select>
</div>

<div ng-include="'views/common/footer.view.client.html'"></div>
